.bg-account {
  background-color: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.containerAccount {
  border-right-style: double;
  border-left-style: double;
  position: relative;
  top: 42px;
}

.addButton {
  display: block;
  margin: 10px 85%;
  border: 3px solid gray;
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  box-shadow: inset 0px 0px 7px red;
}

.addButton:active {
  box-shadow: 0px 2px 5px black;
  border-color: lightcoral;
  background: lightgray;
}

.roundButton {
  border-radius: 50%;
}

/* Games/Friends/Communities Selectable Divs */

.containerDivs {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  box-shadow: 0px 3px 7px black;
}

.containerDivs img {
  height: 275px;
  width: 275px;
}

.containerDivs input {
  margin-bottom: 75px;
}

.gamesIDs {
  height: 100%;
  text-align: center;
}

/* Searchbar */

.searchBar {
  margin-left: 14px;
  margin-bottom: 20px;
  width: 74%;
}

.searchBar:focus {
  outline: none;
  box-shadow: 0px 0px 10px lightcoral;
}

.searchBtn {
  width: 20%;
  position: absolute;
  right: 14px;
}

.searchBtn:active {
  box-shadow: 0px 0px 10px lightcoral;
}

/* Input and Button Styling */

.containerDivs button:active {
  box-shadow: 0px 0px 10px lightcoral;
}

.containerDivs button {
  height: 30px;
}

.profileForm {
  outline: none;
  height: 28px;
}

.profileForm:focus {
  box-shadow: 0px 0px 10px lightcoral;
}

/* ID's */
/* Weird solution for having both initially hidden and flex wrapping content at this point, until someone gives me a better solution lol */

#addGames {
  padding-bottom: 50px;
  display: none;
}

#addFriends {
  padding-bottom: 50px;
  display: none;
}
#addCommunities {
  padding-bottom: 50px;
  display: none;
}

.flexGames {
  display: flex;
  flex-wrap: wrap;
}

/* Footer */

/*  
.footerAct {
  padding-top: 5px;
  background-color: ivory;
  border-top: double;
  border-bottom: double;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative; 
  bottom: 0;
  left: 0;
  z-index: 1;
  margin-top: 30px;
}

.footerAct p {
  padding-left: 15px;
  margin: 0;
}

.footerAct a {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-right: 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}

.footerAct a:hover {
  background-color: lightcoral;
  color: ivory !important;
}
*/

/* Media Queries */

@media (min-width: 340px) and (max-width: 480px) {
  .searchBar {
    width: 70%;
  }
}

@media (min-width: 1012px) {
  .searchBar {
    width: 88.75%;
  }
  .searchBtn {
    width: 8%;
  }
}

@media (min-width: 767px) {
  .containerAccount {
    width: 80%;
    margin: auto;
  }
}

/* Potential Circle if I change my mind
.circle {
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 3px #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  background: #aaaaaa4f;
}
.circle:hover {
  background: radial-gradient(#aaa, #fff);
}
.circle:active {
  background: #6363634f;
}
.circle:before,
.circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* PLUS */ /*
.circle.plus:before,
.circle.plus:after {
  background: red;
  box-shadow: 1px 1px 1px #ffffff9e;
}
.circle.plus:before {
  width: 2px;
  margin: 3px auto;
}
.circle.plus:after {
  margin: auto 3px;
  height: 2px;
  box-shadow: none;
}
*/
