/* Static Background */

body {
  background: url("../img/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header/Nav */

h1 {
  color: black;
  font-size: 1.5rem;
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
}

.flexNav {
  display: flex;
  justify-content: space-between;
  border-top: double;
  border-bottom: double;
  background-color: ivory;
  padding: 0;
}

.flexNav a {
  text-decoration: none;
}

.hamburgerNavSpacing {
  border-left: 5px solid ivory;
}

.flexNav a:hover {
  color: ivory !important;
  background-color: lightcoral;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.navbar-collapse {
  flex-grow: 0;
}

/* Content */

.container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  padding-top: 100px;
  justify-content: flex-start;
}

.divBackground {
  background-color: ivory;
  border-style: double;
  border-radius: 10px;
}

.spacing {
  padding: 15px;
  margin: 15px;
}

.spacing h2 {
  text-align: center;
}

.spacing p {
  margin: 15px;
  text-align: center;
}

.friends {
  width: 100%;
}

.hunting {
  width: 100%;
}

.join {
  width: 100%;
}

.dropShadow {
  box-shadow: 0px 5px 10px black;
}

.centers {
  margin: auto;
}

.buttonSpacing {
  width: 100%;
  margin-top: 5px;
}

.lastDiv {
  margin-bottom: 75px;
}

/* Footer */

.footer {
  padding-top: 5px;
  background-color: ivory;
  border-top: double;
  border-bottom: double;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer p {
  padding-left: 15px;
  margin: 0;
}

.footer a {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 3px;
  margin-right: 15px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
}

.footer a:hover {
  background-color: lightcoral;
  color: ivory !important;
}
/* Media Queries */

@media (max-width: 767px) {
  .flexNav li:hover {
    border-left: 15px solid lightcoral;
  }
  .backgroundSpan hover {
    background-color: lightcoral;
  }
}

@media (min-width: 768px) {
  .friends {
    width: 52%;
  }
  .hunting {
    width: 45%;
  }
  .spacing {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    justify-content: space-between;
  }
  .buttonContainer {
    display: flex;
    justify-content: space-around;
  }
  .buttonSpacing {
    width: 47%;
  }
}
